@font-face {
  font-family: "VCR OSD MONO";
  src: url('/vcr_osd_mono/VCR_OSD_MONO_1.001.ttf')
}
:root {
  font-family: 'VCR OSD MONO', Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  width: 100vw;
  height: 100vh;
}

button {
  all: unset;
  font: inherit;
  cursor: pointer;
}

.info {
  position: absolute;
  z-index: 99;
  background-color: white;
  bottom: 20px;
  padding: 1rem;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  border-style: double;
  border-radius: 20px;
  width: 50ch;
}

.exit {
  text-align: left;
  padding: 0.5rem 1rem;
  margin-bottom: 0.5rem;
} 

.message {
  text-align: left;
  padding: 0.5rem 1rem;
  padding: 0.5rem 0;
}

.question {
  text-align: left;
  padding: 0.5rem 1rem;
  margin-bottom: 0.5rem;
}

.question:hover {
  border: solid 1px black;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
